<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detalle Producto</title>
  <!-- ESTILO BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <!-- NUESTROS ESTILOS -->
  <link rel="stylesheet" href="/css/detalle-producto.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/img/logo-general.png" />
</head>

<body>
  <!--HEADER-->
  <%- include ("../partials/navbar") %>

    <main>
      <section>
        <!-- Carrusel -->

        <article>
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active "
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <% product.imageDetail.forEach((product, index)=> { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="<%= product %>" class="" alt="Zapatillas <%= index + 1 %>" />
                </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </article>

        <!-- Nombre precio y talles -->
        <article class="detalles">
          <h2>
            <%= product.title %>
          </h2>
          <div class="precio-container">
            <h3 class="precio">$ <%= product.price %>
            </h3>
            <h4 class="descuento">10%OFF</h4>
            <p id="id">ID: <%= product.id %>
            </p>
          </div>

          <!-- Talles -->
          <div class="talles">
            <form class="talles-form">
              <h3>Talles</h3>
              <div class="talles-radio">
                <% if (Array.isArray(product.sizes)) { %>
                  <% if (product.sizes.length===1) { %>
                    <input type="radio" class="btn-check" name="talles" autocomplete="off"
                      value="<%= product.sizes[0] %>" id="<%= product.sizes[0] %>" checked />
                    <label class="btn btn-outline-dark btn-radio" for="<%= product.sizes[0] %>">
                      <%= product.sizes[0] %>
                    </label>
                    <% } else if (product.sizes.length> 1) { %>
                      <% product.sizes.forEach((size, index)=> { %>
                        <input type="radio" class="btn-check" name="talles" autocomplete="off" value="<%= size %>"
                          id="<%= size %>" />
                        <label class="btn btn-outline-dark btn-radio" for="<%= size %>">
                          <%= size %>
                        </label>
                        <% }) %>
                          <% } else { %>
                            <p>No hay talles disponibles.</p>
                            <% } %>
                              <% } else if (typeof product.sizes==='string' ) { %>
                                <input type="radio" class="btn-check" name="talles" autocomplete="off"
                                  value="<%= product.sizes %>" id="<%= product.sizes %>" checked /><label
                                  class="btn btn-outline-dark btn-radio" for="<%= product.sizes %>">
                                  <%= product.sizes %>
                                </label>
                                <% } else { %>
                                  <p>No hay talles disponibles.</p>
                                  <% } %>
              </div>
            </form>
          </div>

          <!-- Modal Buttons -->
          <div class="buttons">
            <!-- Boton 1 -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Detalles
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                      Detalles
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h2>Descripcion</h2>
                    <p></p>
                    <h2>Cuidados</h2>
                    <p></p>
                  </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>
            <!-- Boton 2 -->
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
              Guia de Talles
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                      Guia de Talles
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h2>Guia</h2>
                    <h3>Ropa</h3>
                    <table>
                      <tr>
                        <th>Talla</th>
                        <th>Pecho</th>
                        <th>Cintura</th>
                        <th>Caderas</th>
                      </tr>
                      <tr>
                        <td>XS</td>
                        <td>32</td>
                        <td>24</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>S</td>
                        <td>34</td>
                        <td>26</td>
                        <td>36</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>36</td>
                        <td>28</td>
                        <td>38</td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td>38</td>
                        <td>30</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>XL</td>
                        <td>40</td>
                        <td>32</td>
                        <td>42</td>
                      </tr>
                      <tr>
                        <td>XXL</td>
                        <td>42</td>
                        <td>34</td>
                        <td>44</td>
                      </tr>
                    </table>

                    <h3>Zapatillas</h3>
                    <table>
                      <thead>
                        <tr>
                          <th>Talla EUR</th>
                          <th>Talla EEUU</th>
                          <th>Talla UK</th>
                          <th>Talla JPN</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>35</td>
                          <td>4</td>
                          <td>3</td>
                          <td>22</td>
                        </tr>
                        <tr>
                          <td>36</td>
                          <td>5</td>
                          <td>3</td>
                          <td>22.5</td>
                        </tr>
                        <tr>
                          <td>37</td>
                          <td>6</td>
                          <td>4</td>
                          <td>23</td>
                        </tr>
                        <tr>
                          <td>38</td>
                          <td>7</td>
                          <td>5</td>
                          <td>23.5</td>
                        </tr>
                        <tr>
                          <td>39</td>
                          <td>8</td>
                          <td>6</td>
                          <td>24</td>
                        </tr>
                        <tr>
                          <td>40</td>
                          <td>9</td>
                          <td>7</td>
                          <td>24.5</td>
                        </tr>
                        <tr>
                          <td>41</td>
                          <td>10</td>
                          <td>8</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td>42</td>
                          <td>11</td>
                          <td>9</td>
                          <td>25.5</td>
                        </tr>
                        <tr>
                          <td>43</td>
                          <td>12</td>
                          <td>10</td>
                          <td>26</td>
                        </tr>
                        <tr>
                          <td>44</td>
                          <td>13</td>
                          <td>11</td>
                          <td>26.5</td>
                        </tr>
                        <tr>
                          <td>45</td>
                          <td>14</td>
                          <td>12</td>
                          <td>27</td>
                        </tr>
                        <tr>
                          <td>46</td>
                          <td>15</td>
                          <td>13</td>
                          <td>27.5</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>
          </div>
          <a href="/carrito/<%= product.id %>">
            <button type="button" class="btn btn-carrito">
              Agregar al carrito
            </button>
          </a>
        </article>
      </section>
    </main>

    <!-- FOOTER -->
    <%- include ("../partials/footer") %>

      <!-- JS BOOTSTRAP -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

      <!-- JS FONTAWESOME-->
      <script src="https://kit.fontawesome.com/4e61ee30bd.js" crossorigin="anonymous"></script>
</body>

</html>